#top_column .carousel-inner .caption p
{
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.58);
    text-align: left;
    font-size: 50px;
}


.product-label.new-label {
    background: #E64A19;
}
.price-percent-reduction {
    background: #E64A19;
    color: white;
    padding: 3px 5px;
}


.cat-title {
    padding: 14.5px 17px;
    border-bottom: 3px solid #e9e9e9;
    background: #FFC107;
}
.cat-title:hover {
    background: #FFA000;
    color: white;
}
.cat-title:active {
    margin: 5px 10px;
    top: 3px; 
    border-bottom: 3px solid rgb(255, 255, 255); 
    transition: top 1s ease-out 0.5s; 
}

@media (max-width: 991px){
.sf-menu > li > a{
    background: #FFC107 !important;
}
.sf-menu > li > ul > li > a {
    color: #434a54 !important;
}
}



}